@import "remove.css";

:root {
  --l-size: 2rem;
  --s-size: 1rem;
}

.checked {
  text-decoration: line-through;
}

body {
  background: linear-gradient(rgb(101, 236, 233), #8399fb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--s-size);
}

.todo-box {
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  min-width: 70%;
}

.todo-box__header h3 {
  text-align: center;
  font-size: var(--l-size);
  font-weight: 600;
  margin-bottom: 15px;
}

.todo-box__input form {
  margin-bottom: 15px;
  position: relative;
  display: flex;
}

.input-text {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}

.input-submit {
  border: none;
  border-radius: 20px;
  background-color: #3d70e8;
  padding: 6px 12px;
  color: white;
  position: absolute;
  right: 0px;
}

.todo-box__list ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.todo-box__list ul li span {
  display: block;
  padding-left: 3px;
}

.todo-box__list ul li :last-child {
  border: none;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  accent-color: #3d70e8;
}
